<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p-megaMenu [model]="menuItems" styleClass="d-flex main-nav">
          <ng-template pTemplate="start">
            <a class="d-flex" routerLink="">
              <img alt="" id="logo" routerLink="/" src="./assets/shop-svgrepo-com.svg"/>
            </a>
          </ng-template>
          <ng-template pTemplate="end">
            <p-button (click)="changeLanguage('ar')" *ngIf="currentLanguage=== 'en'"
                      label="{{'header.btnLang' | translate}}"
                      styleClass="p-button p-button-text"></p-button>
            <p-button (click)="changeLanguage('en')" *ngIf="currentLanguage=== 'ar'"
                      label="{{'header.btnLang' | translate}}"
                      styleClass="p-button p-button-text"></p-button>
            <ng-container *ngIf="!isUserLoggedIn">
              <p-button [routerLink]="['auth']" icon="pi pi-sign-in" iconPos="right"
                        label="{{'header.logIn' | translate}}"
                        styleClass="p-button-text"></p-button>
            </ng-container>
            <ng-container *ngIf="isUserLoggedIn">
              <div class="d-flex align-items-center" id="profile-menu">
                <p-avatar [image]="image" shape="circle"
                          size="large" styleClass="my-1 me-3 d-flex"></p-avatar>
                <p-button (click)="profileMenu.toggle($event)" icon="pi pi-angle-down" iconPos="right"
                          [label]="fullName" styleClass="p-button-link"></p-button>
                <p-menu #profileMenu [model]="profileMenuModel" [popup]="true"></p-menu>
                <p-button (click)="logout()" icon="pi pi-sign-out" iconPos="right"
                          label="{{'header.logOut' | translate}}"
                          styleClass="p-button-text"></p-button>
              </div>
            </ng-container>
          </ng-template>
        </p-megaMenu>
      </div>
    </div>
  </div>
</div>




