// vodafone light font
@font-face {
  font-family: 'vf-en';
  font-weight: 100;
  font-style: normal;
  src: url('./vodafone/en/light-en.ttf');
}

// vodafone regular font
@font-face {
  font-family: 'vf-en';
  font-weight: 400;
  font-style: normal;
  src: url('./vodafone/en/regular-en.ttf');
}

// vodafone bold font
@font-face {
  font-family: 'vf-en';
  font-weight: 900;
  font-style: normal;
  src: url('./vodafone/en/bold-en.ttf');
}


// vodafone light font
@font-face {
  font-family: 'vf-ar';
  font-weight: 100;
  font-style: normal;
  src: url('./vodafone/ar/light-ar.otf');
}

// vodafone regular font
@font-face {
  font-family: 'vf-ar';
  font-weight: 400;
  font-style: normal;
  src: url('./vodafone/ar/regular-ar.otf');
}

// vodafone bold font
@font-face {
  font-family: 'vf-ar';
  font-weight: 900;
  font-style: normal;
  src: url('./vodafone/ar/bold-ar.otf');
}
